<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom bg-light">
      <div class="container-fluid">
        <h7 class="display-6 navbar-text">&copy; Copyright 2022 All Rights Reserved.</h7>
      </div>
    </nav>
</footer>