<!--Aafaq Muzaffar-301190210-10-Oct-2022-->
<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <p class="display-6 navbar-text">&copy; Copyright 2022 All Rights Reserved.</p>
      </div>
    </nav>
</footer>